		:root {
			--primary-color: #6AB21D;
			--accent-color: #edf7e1;
		}
		
		*,
		*::after,
		*::before {
			box-sizing: border-box;
		}

		body {
			margin: 0;
			padding: 0;
			font-family: "Poppins", sans-serif;
			background: #121212;
		}

		html { scroll-behavior: smooth; scroll-padding-top: 85px; }

		.header {
			display: flex;
			justify-content: space-around; 
			align-items: center;
			width:100%;
			padding: 0 clamp(1.8rem, 5vw, 3rem);
			margin: 0 auto;
			height: 85px;
			position: sticky;
			top: 0;
			z-index: 1000;
			background-color: #212121; 
		}
		
		.header img { width:60%; vertical-align: middle; }
		
		.header .menu-ico, .header .close-ico {
			display: none;
		}
		
		.header-navigation {
			display: flex;
			align-items: center;
		}

		.header-navigation a {
			text-decoration: none;
			font-size: 1.2rem; 
			color: white;
			margin-left: 30px;
		}
	
		.main {
			position:relative;
			width:100%;
			height:425px;
			padding: clamp(12rem, 45vw, 30rem) 0;
			background: url("images/introBg.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			margin: 0 auto;
			text-align: center;
		}

		.headline {
			position:absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			width:85%;
		}

		.headline .secondary-text { 
			font-family: 'Noto'; 
			font-size: clamp(1.35rem, 3.5vw, 1.8rem); 
			font-weight:normal; 
			color: white; 
			line-height:1.6;
			 margin-top:clamp(2.2rem, 5.6vw, 3rem); 
			}

		.arrow { margin-top:clamp(2.2rem, 8vw, 6rem); }

		.subtitle {
			font-size: clamp(1.3rem, 3vw, 1.8rem);
			font-weight: 500;
			color: var(--primary-color);
		}

		.wrapper {
			max-width: 1200px;
			width:100%;
			margin: 0 auto;
			text-align: center;
			padding: clamp(1rem, 5vw, 2.5rem);
		}
		
		.col-2 {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 60px;
		}	
		.col-2 > div { width: calc(98%/2); margin-bottom:30px; }	
		.col-2 img { width:80%; height:80%; padding:2%; object-fit: cover; }
	
		h1 { 
			font-size: clamp(3.4rem, 12vw, 8rem); 
			font-weight: 600;
			color: white;
			line-height:0.9; 
			margin: 0;
		}

		h2 { font-size: clamp(1.6rem, 4vw, 2.5rem); color: white; font-weight:600; line-height:1.5; }
		h3 { font-size: clamp(1.5rem, 2vw, 2.5rem); color: var(--primary-color); font-weight:500; line-height:1.3; border-bottom:1px solid var(--primary-color); padding-bottom:12px; }
		p { font-size: clamp(1rem, 2vw, 1.2rem); color: #999; font-weight:300; line-height: 1.8; }
		ul { margin-top: 0px; } 
		li { font-size: clamp(1rem, 2vw, 1.2rem); color: #999; font-weight:300; text-align: left; line-height: 1.8; }


		.container {
			position:relative;
			width: 100%;
			height: clamp(25.5rem, 50vw, 27rem);
			background: url("images/sunflowers.webp");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			margin: 0 auto;
			text-align: center;
		}

		.service ul { list-style: none; margin: 30px; padding:0; }
		.service ul li { display: inline-block; width:260px; padding: 14px 16px; margin:0 30px 24px 30px; background:white; font-size: 22px; font-weight: 500; text-align: center; transition: all ease .3s; }
		.service ul li a { color:var(--primary-color); text-decoration: none; }
		.service ul li:hover { background:var(--primary-color); padding: 14px 16px; }
		.service ul li:hover a { color:white; } 
		

		/*CSS for popup overlay*/
		.overlay {
			position: fixed;
			inset: 0;
			display: none;

			background: rgba(0,0,0,0.6);
			z-index: 9999;

			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			padding: 40px 20px;
			box-sizing: border-box;
		}

		.overlay.active {
			display: grid;             
			place-items: center;       
		}

		.modal {
			position: relative;
			background: white;
			padding: 30px;
			border-radius: 8px;
			max-width: 700px;
			width: 100%;
			max-height: 90vh; 
			overflow-y: auto;

			/* Hide scrollbar (cross-browser) */
			scrollbar-width: none;        /* Firefox */
			-ms-overflow-style: none;     /* IE/Edge */
		}

		.modal::-webkit-scrollbar {
			display: none;                /* Chrome/Safari */
		}

		.modal ul li { color: #666; }

		.close {
			position: absolute; 
			top: 12px;
			right: 18px;
			font-size: 36px;
			color: var(--primary-color);
			cursor: pointer;
		}

		.service-category { background: var(--accent-color); color: var(--primary-color); font-size: clamp(1rem, 2vw, 1.2rem); font-weight: 600; text-align: left; padding: 8px 12px; margin-bottom:12px; }
		.service-content { display: flex; flex-wrap: nowrap; justify-content: flex-start; font-size: clamp(1rem, 2vw, 1.2rem); color: #666; font-weight:300; line-height: 1.6; text-align: left; }
		.service-item { flex:8; padding-left:12px; }
		.service-price { flex:1; }


		.info {font-family: 'Noto'; font-size: clamp(1.25rem, 3vw, 1.6rem); font-weight:normal; color: white; line-height:1.6; }
		.contact { font-family: 'Noto'; font-size:clamp(1.8rem, 4vw, 2.2rem); color: var(--primary-color); }
		.map { width: 100%; height: 350px; margin-top: 50px; margin-bottom: 36px; }
		footer { max-width: 900px; width:80%; margin: 0 auto; margin-bottom:60px; text-align: center; font-size: 15px; color: #999; line-height: 1.5; }

		.tel,.tel:visited { /*for small screens */   display:block; 
			color: var(--primary-color); 
			text-decoration:none; 
		} 

		.tel:hover,.tel:focus { 
			color: var(--primary-color);
		} 

		@media screen and (min-width: 28.5em) { /* for larger screens */ 
		.tel,.tel:visited { 
			background:none; 
			cursor:default; 
		} 
		.tel,.tel:focus { color: var(--primary-color); } 
		}
		

		@media screen and (min-width: 921px) and (max-width: 1024px) {
			.header { justify-content: space-between; }
			.col-2 { margin-top:24px; }
			.col-2 > div { width: 100%; margin-bottom:24px; }
			.col-2 img { width: 50%; height: auto; }
			.map { margin-top:20px; }
		}

		@media screen and (min-width: 550px) and (max-width: 920px) {
			.header { justify-content: space-between; } 

			.col-2 { margin-top:24px; }
			.col-2 > div { width: 100%; margin-bottom:24px; }
			.col-2 img { width: 50%; height: auto; }
			
			.service ul li { margin:24px; margin-top: 0; width: 240px; font-size: 20px; }
			
			.map { height: 280px; margin-top:18px; }

		}

		@media (max-width: 549px) {
			.header { justify-content: space-between; }
			.header img { width:50%; }

			.header-navigation {
				position: absolute; 
				background-color: var(--primary-color);
				top: 0;
				left:0;
				width: 100%;
				z-index: 1;
				flex-direction: column;
				justify-content: center; 
				line-height: 2; 
				padding-top:10%;
				padding-bottom:20%;

			/* animation added - start hidden */
				opacity: 0;
				pointer-events: none; 
				transform: translateY(-30px);
				transition: all 0.8s ease;
				}

			/* when open, slide down + fade in */
			.header-navigation.open {
				opacity: 1;
				pointer-events: auto;
				transform: translateY(0);
				
			}

			.header-navigation a {
				color: white;
				text-align: center;
				margin-left: 0; 
				margin-top: 16px;
				padding-bottom: 16px;
				border-bottom: 1px solid var(--accent-color);
			}

			.header .menu-ico {
				display: block;
				font-size: 30px;
				color: var(--primary-color);
				line-height: 56px; 
				cursor: pointer;
			}

			.header .close-ico {
				display: none;
				z-index: 2;
				font-size: 30px;
				position: absolute; 
				top: 26px;
				right: 26px;
				color: var(--accent-color);
				cursor: pointer;
			}

			.headline {
				line-height:0.9;
				width:90%;
			}

			.headline .subtext { line-height:1.5; margin-top:1.5rem; }
			.arrow { width:60px; }

			.wrapper { margin: 24px auto; }
			ul { padding-right:5%; }

			.col-2 { margin-top:24px; }
			.col-2 > div { width: 100%; margin-bottom:24px; }
			.col-2 img { width: 88%; height:auto; }
			
			.service ul li { margin:0; margin-bottom:30px; width: 240px; font-size: 20px; }

			.map { height: 250px; margin-top:18px; }

			
		}
